@{
    ViewBag.Title = "Home";
}

<h2>Home</h2>
@model AccountManagement.Models.LoginModel
<header>
    <div class="content-wrapper">
        <div class="float-left">
            <p class="site-title">
                <a href="~/">ASP.NET Web API</a>
            </p>
        </div>
    </div>
</header>
@section menu 
{
    <div class="menu_list">
        <a id="MyAccount" href='@Url.Action("Index","AccountManagement")'>My Account</a>
    </div>
}
@section sidebar
    {
    <section class="sidebar">
        <div class="panel">
            <h5>My Account</h5>
            <img src="../images/mpic.png">
            <p><a href="#">Change my Profile picture</a></p>
            <p><a href="#">Edit my Profile</a></p>
        </div>
        <h5>Categories</h5>
        <ul class="side-nav">
            <li><a href="#">Home</a></li>
            <li><a href="#">My Account</a></li>
            <li><a href="#">Contact me</a></li>
        </ul>

        <div class="panel">
            <h5>Featured</h5>
            <p>Pork drumstick turkey fugiat. Tri-tip elit turducken pork chop in. Swine short ribs meatball irure bacon nulla pork belly cupidatat meatloaf cow.</p>
            <a href="#">Read More &rarr;</a>
        </div>

    </section>
}

Welcome to Our Application :D 

      <article>
انت مسجل
</article>
